{% extends "account/home.html" %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col">

    </div>
    <div class="col-7 justify-content-center align-self-md-center">
        <form method="POST" enctype="multipart/form-data" id="form-container">
            {% csrf_token %}
            <div class="">
                <div class="col-4">
                    {% bootstrap_field form.name %}
                </div>
                {{ formset2.management_form }}
                {% for form in formset2 %}
                <div class="bird-form col-4 card  align-items-center" style="margin-bottom:8px ;">
                    <div style="display:flex;" class="">
                        {% bootstrap_field form.vendor_items %}
                        {% bootstrap_field form.quantity %}

                    </div>
                    {%endfor%}

                </div>
            </div>

            <button class="btn btn-primary  " id="add-form" type="button"> Add
                Another Order
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>

            <a href="javascript:window.location.reload(true)" class="btn btn-success">Reset Form<i
                    class="fa-solid fa-arrows-rotate"></i></a>
        </form>
    </div>
</div>

{% endblock %}

{% block jsscript %}
let birdForm = document.querySelectorAll(".bird-form")
let container = document.querySelector("#form-container")
let addButton = document.querySelector("#add-form")
let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

let formNum = birdForm.length-1
addButton.addEventListener('click', addForm)

function addForm(e){
e.preventDefault()

let newForm = birdForm[0].cloneNode(true)
let formRegex = RegExp(`form-(\\d){1}-`,'g')

formNum++
newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
container.insertBefore(newForm, addButton)

totalForms.setAttribute('value', `${formNum+1}`)
}

{% endblock %}


