{% extends "account/home.html" %}
{% load bootstrap4 %}
{% block content %}


<table id="table" class="table table-striped table-bordered" width="70%">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Order Items</th>
    <th>created by</th>
    <th>created on</th>
    <th>updated by</th>
    <th>updated on</th>
    <th>approved by</th>
    <th>Action</th>
    </thead>
    <tbody>
    {% for each in Orders%}
    <tr>
        <td>{{each.id}}</td>
        <td>{{each.name}}</td>
        <!--<td>
        {%for x in each.orderitem_order.all%} Item: {{x.vendor_items }} , quantity: {{ x.quantity }} ,total price: {{x.item_price}}
            <br> {%endfor%}</td>-->
        <td><a href="{% url 'view_order_item' each.id %}"> view Items </a></td>
        <td>{{each.created_by}}</td>
        <td>{{each.created_on}}</td>
        <td>{{each.updated_by}}</td>
        <td>{{each.updated_on}}</td>
        <td>non</td>

        <td class="flex">
            <div class="f">
                <form method="POST" action="{% url 'delete_order' each.id %}" id="delete_id">
                    {% csrf_token %}
                    <button type="submit" value="Delete" class="btn btn-danger delete_btn">Delete</button>
                    <a class="btn btn-primary"
                       href="{%url 'update_order' each.id %}">Update</a>

                </form>
            </div>
        </td>


    </tr>
    </tbody>
    {%endfor%}

</table>
<a href="/core/createOrder" class="btn btn-primary">Create Order </a>
{%endblock%}

  {% block jsscript %}
$('.delete_btn').click(function(e) {
e.preventDefault();
Swal.fire({
title: 'Are you sure?',
text: "You won't be able to revert this!",
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Yes, delete it!',
}).then((confirm) => {
console.log(confirm)
if(confirm.value) {
$('#delete_id').submit();}

})
});
{% endblock %}
