{% extends "account/home.html" %}
{% load bootstrap4 %}
{% block content %}

<table id="table" class="table table-striped table-bordered" width="70%">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Order Items</th>
    <th>created by</th>
    <th>created on</th>
    <th>updated by</th>
    <th>updated on</th>
    <th>approved by</th>
    <th>Action</th>

    </thead>

    <tbody>
    {% for each in Orders%}
    <tr>
        <td>{{each.id}}</td>
        <td>{{each.name}}</td>
        <!--<td>
        {%for x in each.orderitem_order.all%} Item: {{x.vendor_items }} , quantity: {{ x.quantity }} ,total price: {{x.item_price}}
            <br> {%endfor%}</td>-->
        <td><a href="{% url 'view_order_item' each.id %}"> view Items </a></td>
        <td>{{each.created_by}}</td>
        <td>{{each.created_on}}</td>
        <td>{{each.updated_by}}</td>
        <td>{{each.updated_on}}</td>
        <td>non</td>

        <td><a class="btn btn-danger" href="{%url 'delete_order' each.id %}">Delete</a> &nbsp <a class="btn btn-primary"
                                                                                                 href="{%url 'update_order' each.id %}">Update</a>

        </td>

    </tr>
    </tbody>
    {%endfor%}

</table>
<a href="/core/createOrder" class="btn btn-primary">Create Order </a>
{%endblock%}