{% extends "account/home.html"%}
{%block content%}
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>

{% if tables %}
<table id="table" class="table table-striped table-bordered" width="70%">
<thead>
<th>ID</th>
<th>Name</th>
<th>Order Items</th>
<th>created by</th>
<th>created on</th>
<th>updated by</th>
<th>updated on</th>


</thead>

<tbody>
{% for each in tables%}
<tr>
    <td>{{each.id}}</td>
    <td>{{each.name}}</td>
    <!--<td>
    {%for x in each.orderitem_order.all%} Item: {{x.vendor_items }} , quantity: {{ x.quantity }} ,total price: {{x.item_price}}
        <br> {%endfor%}</td>-->
    <td><a href="{% url 'view_order_item' each.id %}"> view Items </a></td>
    <td>{{each.created_by}}</td>
    <td>{{each.created_on}}</td>
    <td>{{each.updated_by}}</td>
    <td>{{each.updated_on}}</td>


</tr>
</tbody>
{%endfor%}
{% else %}
<p>Nothing to see here!.</p>
{% endif %}
{%endblock%}